@media only screen and (max-width: 440px) and (min-width: 51px)
{

	.phone-box
	{
		display: none;
	}

	body
	{
		max-width: 440px;
		width: 100%;
	}

	h1
	{
		font-size: 22px;
	}

	p
	{
		font-size: 14px;
		padding-right: 10px;
	}

	.left-col, .right-col
	{
		width: 100%;
		float: none;
	}

	.right-col
	{
		margin-top: 50px;
	}

	.article-text
	{
		margin: 0;
	}


	ul li
	{
		margin-right: 15px;
		font-size: 14px;
	}

	.middle-topic
	{
		margin-right: 35px;
		margin-left: 5px !important;
	}

	.middle-topic h2
	{
		font-size: 18px;
	}

	.img2 img
	{
		margin-left: auto;
	}

	.center-text .frame-bottom-img
	{
	
		max-width: 440px;
	}

	.yell-bg h2
	{
		font-size: 16px;
	}

	.yell-bg
	{
		margin-right: auto !important;
		margin-left: auto !important;
	}

	.img3 img
	{
		margin-left: auto !important;
	}

	.container
	{
		margin-right: 0px;
	}

	.frame-r-col h2
	{
		margin-left: auto !important;

	}

	.frame-r-col .middle-topic, .frame-r-col .article-text
	{
		margin-right: 0 !important;
	}
	
}

@media only screen and (max-width: 550px) and (min-width: 441px)
{

	body
	{
		max-width: 550px;
		width: 100%;
	}

	h1
	{
		font-size: 26px;
	}

	p
	{
		font-size: 16px;
		padding-right: 10px;
	}

	.left-col, .right-col
	{
		width: 100%;
		float: none;
	}

	.right-col
	{
		margin-top: 50px;
	}


	ul li
	{
		margin-right: 15px;
		font-size: 16px;
	}

	.middle-topic
	{
		margin-right: 35px;
		margin-left: 5px !important;
	}

	.middle-topic h2
	{
		font-size: 18px;
	}

	.img2 img
	{
		margin-left: auto;
	}

	.center-text .frame-bottom-img
	{
	
		max-width: 440px;
	}

	.yell-bg h2
	{
		font-size: 16px;
	}

	.yell-bg
	{
		margin-right: auto !important;
		margin-left: auto !important;
	}

	.img3 img
	{
		margin-left: auto !important;
	}

	.container
	{
		margin-right: 0px;
	}

	.frame-r-col h2
	{
		margin-left: auto !important;

	}

	.frame-r-col .middle-topic, .frame-r-col .article-text
	{
		margin-right: 0 !important;
	}
	
}

@media only screen and (max-width: 767px) and (min-width: 551px)
{

	body
	{
		max-width: 767px;
		width: 100%;
	}

	h1
	{
		font-size: 26px;
	}

	p
	{
		font-size: 16px;

	}



	ul li
	{
		margin-right: 15px;
		font-size: 16px;
	}

	

	.middle-topic h2
	{
		font-size: 18px;
	}

	.img2 img
	{
		margin-left: auto;
	}


	.yell-bg h2
	{
		font-size: 16px;
	}

	.yell-bg
	{
		margin-right: auto !important;
		margin-left: auto !important;
	}

	.img3 img
	{
		margin-left: auto !important;
	}

	.container
	{
		margin-right: 0px;
	}

	.frame-r-col h2
	{
		margin-left: auto !important;

	}

	.frame-r-col .middle-topic, .frame-r-col .article-text
	{
		margin-right: 0 !important;
	}
	
}

@media only screen and (max-width: 960px) and (min-width: 768px)
{

	body
	{
		max-width: 960px;
		width: 100%;
	}

	h1
	{
		font-size: 26px;
	}

	p
	{
		font-size: 16px;

	}




	ul li
	{
		margin-right: 15px;
		font-size: 16px;
	}

	

	.middle-topic h2
	{
		font-size: 18px;
	}

	.img2 img
	{
		margin-left: auto;
	}


	.yell-bg h2
	{
		font-size: 16px;
	}

	.yell-bg
	{
		margin-right: auto !important;
		margin-left: auto !important;
	}

	.img3 img
	{
		margin-left: auto !important;
	}

	.container
	{
		margin-right: 0px;
	}

	.frame-r-col h2
	{
		margin-left: auto !important;

	}

	.frame-r-col .middle-topic, .frame-r-col .article-text
	{
		margin-right: 0 !important;
	}
	
}
@media (max-width:1000px) {
	.aside {
		display: none;
	}
	.left-col {
		width: 100%;
	}
}