html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*######################################*/

/*Global style*/

h1
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

p, h2, li
{
	font-family: 'georgia';
	color: #3d3d3d;
}

a:link, a:visited
{
	text-decoration: none;
	color: #111111;
}

.blackedbold
{
	font-weight: 600;
}

.container
{
	max-width: 1016px;
	margin: 20px auto;
	border: 1px solid #02362F;
	background-color: #FFFFFF;
	padding-bottom: 20px;
}

.center-text
{
	text-align: center;
}

.clear
{
	clear: both;
}

.mg-top
{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	box-sizing: border-box;
}

.padd
{
	margin: 0;
}

h1
{
	font-size: 44px;
	line-height: 1.4em;
}

h2
{
	font-size: 22px;
}

p
{
	font-size: 16px;
	line-height: 1.5em;
}

li
{
	list-style-type: disc;
	font-size: 18px;
	padding-bottom: 10px; 
}

ul
{
	margin-left: 20px;
}


/*Section*/
.banner img
{
	width: 100%;
}

.main-topic
{
	margin: 20px auto;
	padding: 0 15px;
}

.main-topic h1
{
	color: #820000;
}

.left-col
{
	width: 60%;
}

.right-col
{
	width: 25%;
}

.left-col .right-col
{
	max-width: 220px;
	width: 100%;
}

.img1 img
{
	width: 100%;
}

.article-text
{
	margin: 10px 0px;
}

.middle-topic
{
	margin: 20px 0px 20px 20px;
}

.red-text
{
	color: #CC0000;
}

.red-text h2
{
	font-weight: 600;
	color: #CC0000;
}

.img2 img
{
	max-width: 300px;
	margin: 0 auto;
}

.frame-bottom-img
{
	background-color: #DDDDDD;
	width: 300px;
	margin: auto;
	margin-bottom: 35px;
	margin-top: -3px;
}

.frame-bottom-img p
{
	font-size: 14px; 
	line-height: 1.8em;
}

.yell-bg h2
{
	font-size: 16px;
	font-weight: bold;
	line-height: 1.8em;
	background-color: #FFFF00;
	margin-bottom: -10px !important;
}

.img3 img
{
	width: 100%;
}

.col-1
{
	width: 50%;
	float: left;
	margin-bottom: 30px;
}

.center-text > .red-text h2
{
	color: #820000;
}

.f-right-img
{
	margin-top: 20px;
	text-align: right;
	width: 100%;
}

.img4 img
{
	width: 250px;
}

.green-text
{
	color: #008f1e;
	font-size: 28px;
}

.btn
{
	padding: 12px 15px;
	background-color: rgba(36, 79, 255, 1);
	background: rgba(36, 79, 255, 1);
	color: #FFFFFF;
	width: 200px;
	margin: 0 auto;
	border-radius: 10px;
	border: 1px solid #0227bf;
	margin-top: 30px;
	text-decoration: none;
}

.frame-r-col
{
	border: 2px solid #0227bb;
	padding: 10px 10px;
	margin-bottom: 20px;
}

.frame-r-col img
{
	width: 100%;
}

.frame-r-col h2
{
	font-size: 18px;
	margin-left: -20px;
}

.yellow-star
{
	color: gold;
	text-shadow: 1px 1px 1px black;
}

.gray-star
{
	color: silver;
	text-shadow: 1px 1px 1px black;
}